<section class="recycle">
  <div class="recycleBin papel">
    <span class="thumbsUp"></span>
    <p>papel</p>
  </div>
  <div class="recycleBin plastico">
    <span class="thumbsUp"></span>
    <p>plástico</p>
  </div>
  <div class="recycleBin vidro">
    <span class="thumbsUp"></span>
    <p>vidro</p>
  </div>
  <div class="recycleBin metal">
    <span class="thumbsUp"></span>
    <p>metal</p>
  </div>
  <div class="recycleBin organico">
    <span class="thumbsUp"></span>
    <p>orgânico</p>
  </div>

</section>
