<h1><strong>T</strong>riple<strong>R</strong></h1>
<p class="greeting"><strong>R</strong>eutilar <strong>R</strong>eduzir <strong>R</strong>eciclar</p>

<div>
  <strong><%= tip_of_the_day.title %></strong>
  <%= image_tag tip_of_the_day.image_url %>
  <p><%= tip_of_the_day.body %></p>
</div>
