<%= link_to 'Terminar sessão', signout_path %>

<% @contributions.each do |contribution| %>
  <div>
    <%= image_tag contribution.image.url(:medium) %>
    <p><%= contribution.container %></p>
  </div>
<% end %>
