body{
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f6;
}

header{
  width: 100%;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 4px solid #70D925;
}

.navbar ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.navbar ul li a{
  padding: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.icon{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: relative;
}

.selected{
  border-bottom: 2px solid #70D925;
  padding-bottom: 10px;
}

.home{
  background-image: image-url("recycle.png");
}

.tips{
  background-image: image-url("tips.png");
}

.profile{
  background-image: image-url("user.png");
}
