// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
  text-align: center;
  font-size: 2em;
  font-weight: normal;
  margin-top: 50px;
}

.greeting{
  text-align: center;
  font-size: 1.2em;
}

//end of the main css for the home page

section.recycle{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.recycle .recycleBin{
  flex-basis: 15%;
  text-align: center;
  cursor: pointer;
}

.papel{
  background-color: #0a69f7;
}

.plastico{
  background-color: #ff2f1b;
}

.vidro{
  background-color: #00cb4f;
}

.metal{
  background-color: #fefe54;
}

.organico{
  background-color: #984508;
}
// end of the recycle bin section css

section.dailyTips{
  margin-top: 50px;
}

.dailyTips h2{
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
}

.dailyTips img{
  max-width: 80%;
  margin: 0 10%;
}

.dailyTips p{
  font-size: 1em;
  margin-top: 30px;
  padding: 0 5%;
  text-align: justify;
}
//end of the 'tip of the day' css


// end of the home page css
